<% layout("layouts/boilerplate") %>
<div class="row">
<h1 class="text-center">Edit Campground</h1>
<div class="offset-3 col-6">
    <form action="/campgrounds/<%= campground._id %>?_method=PUT" class="form" method="post">
        <div class="mb-3">
            <label class="form-label" for="title">Title</label>
            <input class="form-control" type="text" name="campground[title]" id="title" value="<%= campground.title %>">
        </div>
        <div class="mb-3">
            <label class="form-label" for="image">Image URL</label>
            <input class="form-control" type="text" name="campground[image]" id="image" value="<%= campground.image %>">
        </div>
        <div class="mb-3">
            <label class="form-label" for="location">Location</label>
            <input class="form-control" type="text" name="campground[location]" id="location" value="<%= campground.location %>">
        </div>
        <div class="mb-3">
            <label class="form-label" for="price">Price</label>
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1">$</span>
                <input class="form-control" type="text" name="campground[price]" id="price" value="<%= campground.price %>">
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="description">Description</label>
            <textarea class="form-control" type="text" name="campground[description]" id="description"><%= campground.description %></textarea>
        </div>
        <button class="btn btn-info text-white">Update Campground</button>
        </div>
    </form>
    <div class="mb-3">
        <a class="btn btn-primary" href="/campgrounds/<%= campground._id %>">Back To Campground</a>
    </div>
</div>
</div>